.about-footer{
    border: none;
}

.about-container .main{
    border-right: var(--color-black) solid 1px; 
    width: calc(100vw);
    height: calc(100vh - var(--elements-headerHeight));
}
.about-container .main .wrapper{
    display: grid;
    grid-template-columns: calc(100vw/2 - 720px/2) 720px calc(100vw/2 - 720px/2);
    grid-template-rows: repeat(3, calc(100vh/3 - var(--elements-headerHeight)/3));
    column-gap: 0;
    row-gap: 0;   
}
.about-container .wrapper .item {
    border-left: 1px var(--color-black) solid;
    border-bottom: 1px var(--color-black) solid;
    overflow: hidden;
}

.item .frame{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;

    transition-property: transform;
    transition-duration: 400ms;
}

.item .frame .cover {
    position: absolute;
    width: 100%;
    height: 100%;
    transition-property: transform;
    transition-duration: 400ms;
    background-color: var(--color-white);
}

.item .frame .text{
    text-align: center;
}
.item .frame .text a{
    color: var(--color-white); 
    line-height: 1.05em;
    font-size: 4rem;
    transition-property: color;
    transition-duration: 400ms;
}

.item .frame .text a:hover{ 
    background-color:inherit;
}

/* myName */
.item1 .frame .text{
    line-height: 1.1em;
    font-size: 3em;
}

.item1 .frame #krName{
    font-weight: var(--font-bold);
}
.item1 .frame #enName{
    line-height: 1.1em;
    font-size: .75em;
}

#myName:hover .frame{
    background-color: var(--color-black);
    color: var(--color-white);
}

/* hero image */
.item2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: var(--color-black);
}

.item2 .frame .cover {
    transform-origin: center center;
    background-image: url("{{site.baseurl}}/img/about_hero.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.item2:hover .cover {
    transform: scale(.95,.95);
}

/* link to designer */
.item3{
    background-color: var(--color-black);
}

.item3 .frame .cover {
    transform-origin: right;
}

.item3:hover .cover{
    transform: scale(0,1);
}

/* link to developer */
.item4{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: var(--color-black);
}

.item4 .frame .cover {
    transform-origin: bottom left;
}

.item4:hover .cover{
    cursor: pointer;
    transform: scale(1,0);
}

/* Lottie-player*/
.item5{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* description */
.item6 .frame {
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    line-height: 1.7;    
}

article#description-writing{
    padding: 20px 20px;
    letter-spacing:-0.02em;
    font-weight: var(--font-regular);
}

#description:hover .frame{
    background-color: var(--color-black);
    color: var(--color-white);
}

#about-word-2{
    transition-duration: 1600ms;
}

/* jlottie */
.item7 .frame{
    cursor: pointer;
}

#item7:hover .frame{
    transform: scale(.95);
}

#item7 .frame:active{
    background-color: var(--color-white);
}

.item7 .frame #my-animation{
    width: 300px;
    height: auto;
}

.black-filter {
    filter: brightness(0%);
}

.gary-filter {
    /* filter: invert(100%) sepia(100%) saturate(1776%) hue-rotate(350deg) brightness(101%) contrast(96%); */
}

.twitter-blue-filter {
    filter: invert(57%) sepia(37%) saturate(776%) hue-rotate(176deg) brightness(101%) contrast(96%);
}