::selection {
    color: white;
    background: black;
  }

html{
    margin: 0;
    padding: 0;

    font-family: 'IBM Plex Sans KR', sans-serif;
}

h3{
    margin-bottom: .5em;
}  

p{
    margin-left: .5em;
    margin-top: .5em;
    margin-bottom: 2em;
}

a{
    text-decoration: none;
    color: #222;
    padding-left: .1em;
    padding-right: .1em;
}
a:hover{
    /* text-decoration-line: underline; */
    background-color: black;
    color: white;
}

ul{
    padding: 0px 10px 40px 10px;
}

.default-box{
    width: 720px;
    margin: 10px;
}

ul > li{
    list-style-type: none;
}

footer {
    border-top: solid #383838 1px;
    color: #383838;
    padding: 10px;
}  

img {
    width: 720px;
}