html{
    margin: 0;
    padding: 0;

    font-family: 'IBM Plex Sans KR', sans-serif;
}

a{
    text-decoration: none;
    color: #222;
}
a:hover{
    /* text-decoration-line: underline; */
    background-color: black;
    color: white;
}

ul{
    padding: 0px 10px 40px 10px;
}

.default-box{
    width: 50%;
    margin: 10px;
}

ul > li{
    list-style-type: none;
}

footer {
    border-top: solid #383838 1px;
    color: #383838;
    padding: 10px;
}  