* {
  box-sizing: border-box;
}

html,
body {
  font-family: "IBM Plex Sans KR", "Arial", sans-serif;
  font-weight: var(--font-regular);
  word-break: keep-all;
  font-size: 16px;
  line-height: 1.55;
  color: var(--color-typo);
}

h1,
h2,
h3 {
  position: relative;
  line-height: 1.7;
  font-weight: var(--font-bold);
  cursor: text;
}

h1 {
  font-size: 3rem;
  margin-top: 0.5rem;
  margin-bottom: 0rem;
}

h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  padding: 0;
  font-size: 1.5rem;
}

h3 {
  margin-top: 2em;
  margin-bottom: 0.5em;
  font-size: 1.25rem;
}

h4{
  font-weight: var(--font-bold);
}

p {
  margin-bottom: 1rem;
}

em {
  font-size: 0.95rem;
  font-style: italic;
  font-weight: var(--font-light);
}

strong {
   font-weight: var(--font-bold);
}

ol,
ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 30px;
  list-style-type: disc;
}

ul li ul{
  list-style-type: circle;
  padding-inline-start: 20px;
}

ol{
  list-style: decimal-leading-zero;
}

li {
  display: list-item;
}

img {
  width: 700px;
}

a {
  text-decoration: none;
  color: var(--color-typo);
}
a:hover {
  text-decoration: underline;
}

table {
  color: rgba(0, 0, 0, 0.75);
  font-size: 16px;
  font-variant-ligatures: common-ligatures;
  line-height: 1.67;
  -webkit-font-smoothing: antialiased;
}

td {
  padding: 0px 60px;
}


.highlight pre{
  margin-bottom:10px;
  padding: 20px;
  overflow: scroll;
}


code {
  font-size: .9rem;
  font-family: 'Noto Sans Mono', monospace;
  font-weight: 400;
  line-height: 1.5;
}
code.language-bush,
.highlighter-rouge .highlight .highlight code {
  font-size: .75rem;
}

pre code{
  color: var(--color-gray-100);
}

code.highlighter-rouge{
  color: var(--color-typo);
  background-color: var(--color-gray-100);
  padding: 1px 6px;
  display: inline-block;
}

code.language-bush {
  background-color: var(--color-gray-100);
  color: var(--color-typo);
}



hr {
  border: none;
}

blockquote {
  margin: 15px 0;
  padding: 0px 35px;
  border-left: solid 8px var(--color-border);
}

blockquote p {
  margin: 5px 0;
}

.base-container .language-plaintext .highlight pre,
pre {
  background-color: var(--color-gray-100);
}

pre {
  padding: 20px;
  letter-spacing: 0.01rem;
  line-height: 1.05;
}

.base-container .language-plaintext .highlight code {
  color: var(--color-black);
}

.default-box {
  display: flex;
  justify-content: center;
  width: 100%;
}

.home-container {
  width: 720px;
}

.base-container {
  width: 718px;
}

.breadcrumb{
  margin:0;
}

h1.page-title{
  margin-top: 2.5rem;
  font-size: 2.3rem;
  line-height: 1.2;
  font-weight: var(--font-bold);
}

.page-meta{
  margin-top: 0.3rem;
  font-size: 1.4rem;
  font-weight: var(--font-regular);
}

.page-tags{
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-tags .page-tag{
  display: inline-block;
  padding: 0 1px;

  color: var(--color-typo);
  font-weight: var(--font-light);

  cursor:default;
}

.page-tags li+li::before{
  content:"· "
}

.page-source{
  font-weight: var(--font-light);
}

.default-box .base-container {
  padding-top: 54px;
  padding-bottom: 40px;
}

.about-container {
  padding-top: 50px;
}

.base-container a {
  color: var(--color-blue-500);
}

.base-container h4 a {
  color: var(--color-black);
}

.task-list {
  list-style: none;
}

.task-list .task-list-item-checkbox {
  margin-right: 10px;
}
