.home-container {
  width: var(--width-laptop);
  margin: 0;
  padding-top: var(--elements-header-height);
  padding-bottom: 0px;
}

.home-container .section {
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 25px;
}

.home-container .section:nth-child(1) {
  margin-top: 20px;
}

.home-container .section:nth-child(1) h2{
  margin-top: 0;
}

.home-container .section:nth-child(1) p{
  margin: -3px 0 5px 0;
  color: var(--color-gray-600);
  font-family: "Noto Sans Mono", monospace;
  font-weight: 400;
  font-size: .85rem;
}

.home-container .section:nth-last-child(1) {
  margin-bottom: 0px;
}

.home-container h2 {
  margin-bottom: 8px;
}

.home-container ul li {
  position: relative;
  list-style-type: none;
}

.home-container ul {
  padding-left: 0;
  margin-top: 0;
  line-height: 1.7; 
}

.home-container h2 {
  margin-top: 0;
  margin-bottom: 0.2rem;
}
