.masthead{
    /* background-color: #383838; */
    color: #383838;
    padding: 12px 10px 9px 10px;
    border-bottom: #383838 1px solid;
    position: fixed;
    width: 720px;
    background-color: white;
    z-index: 1;
}

.masthead-about{
    /* background-color: #383838; */
}