.masthead{
    /* background-color: #383838; */
    color: var(--color-black);
    position: fixed;
    background-color: var(--color-white);
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--elements-headerHeight);
    border-bottom: var(--color-black) solid 1px; 
}

.masthead .nav_box{
    padding-top: 11px;
    width: 720px;
}

footer{
    display: flex;
    justify-content: center;
    border-top: var(--color-black) 1px solid;
}

footer .nav_box{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 720px;
}

.masthead-about{
    /* background-color: #383838; */
}

