/* primary nav */
.nav-top{
    font-size: 1.25rem;
}
.current{
    color: var(--color-gray-600);
}

ul.nav{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.nav li,
ul.breadcrumb li{
    display: inline;
}

ul.nav li+li::before{
    content: "| "
}

ul.int{
    float: left;
}

ul.ext{
    float: right;
}

/* secondary nav */

ul.breadcrumb{
    list-style-type: none;
    padding: 0;
    font-size: 1em;
    font-weight: 400;
}

ul.breadcrumb a{
    color: var(--color-typo);
}

ul.breadcrumb li+li::before{
    content: "> "
}