---
layout: home
pageClass: home-container
priority: 1.0
---
<div class="section firstSection">
    <h2>New Posts</h2>
    <ul>
        {% assign sorted = site.posts | sort: 'date' | reverse %}
        {% for item in sorted limit: 5 %}
        <li>
            <a href="{{site.baseurl}}{{item.url}}">{{ item.tags[0] }} / {{ item.title }}</a>
            <p>{{item.meta}} / <span class="date">{{item.date | date_to_string}}</span></p>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="section">
    <h2>Today I learned</h2>
    <ul>
        {% for post in site.categories.til %}
        <li>
            <a href="{{site.baseurl}}{{post.url}}">{{ post.tags[0] }} / {{post.title}}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="section">
    <h2>React</h2>
    <ul>
        {% for react in site.categories.React %}
        <li>
            <a href="{{site.baseurl}}{{react.url}}">{{react.title}}</a>
            <!-- <p>{{react.meta}}</p> -->
        </li>
        {% endfor %}
    </ul>
</div>

<div class="section">
    <h2>Javascript</h2>
    <ul>
        {% for javascript in site.categories.Javascript %}
        <li>
            <a href="{{site.baseurl}}{{javascript.url}}">{{javascript.title}}</a>
            <!-- <p>{{react.meta}}</p> -->
        </li>
        {% endfor %}
    </ul>
</div>

<div class="section">
    <h2>Project</h2>
    <ul>
        {% for project in site.categories.projects %}
        <li>
            <a href="{{site.baseurl}}{{project.url}}">{{project.title}}</a>
            <!-- <p>{{project.meta}}</p> -->
        </li>
        {% endfor %}
    </ul>
</div>

<div class="section">
    <h2>First settings</h2>
    <ul>
        {% for setting in site.categories.setting %}
        <li>
            <a href="{{site.baseurl}}{{setting.url}}">{{setting.title}}</a>
            <!-- <p>{{setting.meta}}</p> -->
        </li>
        {% endfor %}
    </ul>
</div>

<div class="section">
    <h2>Git</h2>
    <ul>
        {% for git in site.categories.git %}
        <li>
            <a href="{{site.baseurl}}{{git.url}}">{{git.title}}</a>
            <!-- <p>{{git.meta}}</p> -->
        </li>
        {% endfor %}
    </ul>
</div>

<div class="section">
    <h2>HTML</h2>
    <ul>
        {% for html in site.categories.html %}
        <li>
            <a href="{{site.baseurl}}{{html.url}}">{{html.title}}</a>
            <!-- <p>{{html.meta}}</p> -->
        </li>
        {% endfor %}
    </ul>
</div>

<div class="section">
    <h2>css</h2>
    <ul>
        {% for css in site.categories.css %}
        <li>
            <a href="{{site.baseurl}}{{css.url}}">{{css.title}}</a>
            <!-- <p>{{css.meta}}</p> -->
        </li>
        {% endfor %}
    </ul>
</div>

<div class="section lastSection">
    <h2>Algorithm</h2>
    <ul>
        {% for algorithm in site.categories.algorithm %}
        <li>
            <a href="{{site.baseurl}}{{algorithm.url}}">{{algorithm.title}}</a>
            <!-- <p>{{algorithm.meta}}</p> -->
        </li>
        {% endfor %}
    </ul>
</div>

<div class="section lastSection">
    <h2>Trouble Shooting</h2>
    <ul>
        {% for troubleShoot in site.categories.troubleShoot %}
        <li>
            <a href="{{site.baseurl}}{{troubleShoot.url}}">{{troubleShoot.title}}</a>
            <!-- <p>{{troubleShoot.meta}}</p> -->
        </li>
        {% endfor %}
    </ul>
</div>

<div class="section">
    <h2>Design</h2>
    <ul>
        {% for design in site.categories.design %}
        <li>
            <a href="{{site.baseurl}}{{design.url}}">{{design.title}}</a>
            <!-- <p>{{design.meta}}</p> -->
        </li>
        {% endfor %}
    </ul>
</div>

<div class="section">
    <h2>Common</h2>
    <ul>
        {% for common in site.categories.common %}
        <li>
            <a href="{{site.baseurl}}{{common.url}}">{{common.title}}</a>
            <!-- <p>{{common.meta}}</p> -->
        </li>
        {% endfor %}
    </ul>
</div>