---
layout: default
priority: 1.0
---
<!-- <ol>
    {% for subject in site.data.subject-types %}
    <li>
        <a href="{{site.baseurl}}/children/{{subject.folder}}/">{{subject.title}}</a>
    </li>
    {% endfor %}
</ol> -->
<h2>Today I learned</h2>
<ul>
    {% for post in site.categories.til%}  
    <!-- limit:2  -->
    <li>
        <a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
        <!-- <p>{{post.meta}}</p> -->
    </li>
    {% endfor %}
</ul>

<h2>React</h2>
<ul>
    {% for react in site.categories.react %}
    <li>
        <a href="{{site.baseurl}}{{react.url}}">{{react.title}}</a>
        <!-- <p>{{react.meta}}</p> -->
    </li>
    {% endfor %}
</ul>

<h2>프로젝트</h2>
<ul>
    {% for project in site.categories.project %}
    <li>
        <a href="{{site.baseurl}}{{project.url}}">{{project.title}}</a>
        <!-- <p>{{project.meta}}</p> -->
    </li>
    {% endfor %}
</ul>