<nav>
    <ul class="nav int {{include.navclass}}">
        <li><a href="{{site.baseurl}}/" class= "{% if page.url == '/' or page.layout contains 'base' %} current {% endif %}">L's Junkyard</a></li>
        &nbsp;|&nbsp;
        <li><a href="{{site.baseurl}}/about" class= "{% if page.url == '/about.html' %} current {% endif %}">About</a></li>
        
    </ul>
    <ul class="nav ext {{include.navclass}}">
        <li><a href="http://tommlimm.net" target="_blank">hp</a></li>
        &nbsp;|&nbsp;
        <li><a href="https://www.instagram.com/tommlimm" target="_blank">ig</a></li>
        &nbsp;|&nbsp;
        <li><a href="https://www.linkedin.com/in/tommlimm/" target="_blank">li</a></li>
        &nbsp;|&nbsp;
        <li><a href = "mailto: tomandlim@gmail.com" target="_blank">em</a></li>
    </ul>
</nav>