<nav>
    <ul class="nav {{include.navclass}}">
        <li><a href="{{site.baseurl}}/" class= "{% if page.url == '/' %} current {% endif %}">L's Junkyard</a></li>
        &nbsp;|&nbsp;
        <li><a href="{{site.baseurl}}/about" class= "{% if page.url == '/about.html' %} current {% endif %}">About</a></li>
        &nbsp;|&nbsp;
        <li><a href="http://tommlimm.net" >hp</a></li>
        &nbsp;|&nbsp;
        <li><a href="https://www.instagram.com/tommlimm" >ig</a></li>
        &nbsp;|&nbsp;
        <li><a href="https://www.linkedin.com/in/tommlimm/" >li</a></li>
        
    </ul>
</nav>