<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/common.css">
    <title>hi</title>
</head>
<body>
    <header>
        {% include nav.html navclass='nav-top' %}
    </header>
    {{content}}

    <footer>
        {% include nav.html navclass='nav-bottom' %}
        Copyright, 임연수. All rights reserved.
    </footer>
</body>
</html>