<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{page.title}}&nbsp;|&nbsp;{% endif %}임연수의 기술 블로그</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{{site.baseurl}}/favicon.png" type="image/png" sizes="30x30">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">


    <!-- Primary Meta Tags -->
    <meta name="title" content="임연수의 기술 블로그">
    <meta name="description" content="{% if page.meta %}{{page.meta}}&nbsp;|&nbsp;{% endif %}모르는 것을 알아가는 재미">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://tomlim2.github.io/til/">
    <meta property="og:title" content="임연수의 기술 블로그">
    <meta property="og:description" content="{% if page.meta %}{{page.meta}}&nbsp;|&nbsp;{% endif %}모르는 것을 알아가는 재미">
    <meta property="og:image"
        content="https://user-images.githubusercontent.com/22067260/148548806-98c111d8-790a-4a13-8095-84844514320b.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://tomlim2.github.io/til/">
    <meta property="twitter:title" content="임연수의 기술 블로그">
    <meta property="twitter:description"
        content="{% if page.meta %}{{page.meta}}&nbsp;|&nbsp;{% endif %}모르는 것을 알아가는 재미">
    <meta property="twitter:image"
        content="https://user-images.githubusercontent.com/22067260/148548806-98c111d8-790a-4a13-8095-84844514320b.jpg">

    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;400;500&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap" rel="stylesheet">

</head>

<body>
    <header class='masthead {{page.mastheadClass}}'>
        <div class="nav-box">
            {% include nav.html navclass='nav-top' %}
        </div>
    </header>

    <main class="default-box main">
        {{content}}
    </main>

    <footer class='{{page.mastfooterClass}}'>
        <div class="content-container">
            이 웹사이트는 <a href="">개발중</a>이며 현재는 데스크탑 버전에 최적화 되어있습니다;)<br>
            <br>
            임연수 ©2022. ALL RIGHTS RESERVED.
        </div>
    </footer>


</body>

</html>