---
layout: default
---

<div class="blog-container {{page.pageClass}}">
    <ul class="breadcrumb">
        <li><a href="{{site.baseurl}}/">Blog</a></li>
        <li><a href="{{site.baseurl}}/">{{page.category}}</a></li>
        
    </ul>

    <h1 class="page-title">{{page.title}}</h1>
    
    {% if page.meta %}
    <div class="page-meta">{{page.meta}}</div>
    {% endif %} 

    <ul class="page-tags">
        {% if page.tags %}
            {% for tag in page.tags %}
            <li class="page-tag">{{ tag }}</li>
            {% endfor %}
        {% endif %}
    </ul>
    {% if page.source %}
    <div class="page-source"><a href="{{page.source}}" target="_blank">{{page.source}}</a></div>
    {% endif %} 
    <hr>
    
    {{content}}
</div>
